   <div class="periodic_title" style="background-color:{{panel.getColor(mountain)}}">Stats</div>


 <table class="table">
    <tbody>
      <tr>
        <td>Name: </td>
        <td>{{ mountain.name }}</td>
      </tr>

      <tr>
        <td>Elevation: </td>
        <td>{{mountain.elevation }} ft.</td>
      </tr>

      <tr>
        <td>Location: </td>
        <td>{{mountain.location}}</td>
      </tr>

      <tr>
        <td>Summit Type: </td>
        <td>{{mountain.summit_type}}</td>
      </tr>

       <tr>
        <td>Mtn Range: </td>
        <td>{{mountain.range}}</td>
      </tr>

       <tr>
        <td>Region: </td>
        <td>{{mountain.region}}</td>
      </tr>

       <tr>
        <td>Land Mgmt: </td>
        <td>{{mountain.land_manager}}</td>
      </tr>

       <tr>
        <td>Designation: </td>
        <td>{{mountain.designation}}</td>
      </tr>

       <tr>
        <td>Contact: </td>
        <td>{{mountain.phone}}</td>
      </tr>

    </tbody>
  </table>

