<img ng-src="{{mountain.image}}"/>
<h3>{{ mountain.name }}</h3>
<section>
    <ul class="nav nav-pills" >

      <li ng-class="{ active:panel.isSelected(1)}">
        <a href ng-click="panel.selectTab(1)">Info</a>
      </li>

      <li ng-class="{ active:panel.isSelected(2)}">
        <a href ng-click="panel.selectTab(2)">Weather</a>
      </li>

      <li ng-class="{ active:panel.isSelected(3)}" >
        <a href ng-click="panel.selectTab(3)">My Climb</a>
      </li>

    </ul>
    
  
  <div class="panel" ng-show="panel.tab === 1">
      <mountain-info></mountain-info>
  </div><!--Panel Tab 1-->

  <div class="panel" ng-show="panel.tab === 2">
    <ul class="list-group">
     <div ng-include="'weather-report.html'"></div>
    </ul>
  </div><!--Panel Tab 2-->

  <div class="panel" ng-show="panel.tab === 3">
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="note in mountain.notes">
       <blockquote >
       <b>{{note.body}}</b>
       <cite>-{{note.trail}} {{note.date}}</cite>  
       </blockquote>
    </li>
    </ul>    

<form name="noteForm" ng-controller="NoteController as noteCtrl" ng-submit="noteForm.$valid && noteCtrl.addNote(mountain)" novalidate>

  <blockquote >
  <b>{{noteCtrl.note.body}}</b>
  <cite>-{{noteCtrl.note.trail}} {{noteCtrl.note.date}}</cite>  
  </blockquote>

  <select ng-model="noteCtrl.note.trail" required>
  <option value="Main Trail">Main Trail</option>
  <option value="East Trail">East Trail</option>
  </select>

  <textarea ng-model="noteCtrl.note.body" required>  
  </textarea>

  <input type="submit" value="submit" />
</form ><!--noteForm-->

</div><!--Panel Tab 3-->
</section><!--PanelController-->

<button class="btn btn-default" ng-hide="mountain.summited">Mark as Climbed</button>