<div class="card">
<img ng-src="{{mountain.image}}" class="card-img-top"/>
<h3 class="card-title">{{ mountain.name }}</h3>



  <div class='text-center'>

    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-primary" ng-click="panel.selectTab(1)" ng-class="{ active:panel.isSelected(1)}" href="">Info</a>
        <a class="btn btn-primary" ng-click="panel.selectTab(2)" ng-class="{ active:panel.isSelected(2)}" href="">Weather</a>
        <a class="btn btn-primary" ng-click="panel.selectTab(3)" ng-class="{ active:panel.isSelected(3)}"href="#fakelink">Trails</a>
        <a class="btn btn-primary" ng-click="panel.selectTab(4)" ng-class="{ active:panel.isSelected(4)}"href="#fakelink">Notes</a>
      </div>
    </div> <!-- /toolbar -->
  </div>
 <div class="card-block">


    
  
  <div class="panel" ng-show="panel.tab === 1">
      <mountain-info></mountain-info>
  </div><!--Panel Tab 1-->

  <div class="panel" ng-show="panel.tab === 2">
    <ul class="list-group">
     <div ng-include="'weather-report.html'"></div>
    </ul>
  </div><!--Panel Tab 2-->

  <div class="panel" ng-show="panel.tab === 3">
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="note in mountain.notes">
       <blockquote class="blockquote-reverse" >
       <b>{{note.body}}</b>
        <footer class="blockquote-footer"> {{note.trail}} <cite> - {{note.date | date: fullDate}} </cite> </footer>
       </blockquote>
    </li>
    </ul>    

<form name="noteForm" ng-controller="NoteController as noteCtrl" ng-submit="noteForm.$valid && noteCtrl.addNote(mountain)" novalidate role = "form">

  <blockquote class="blockquote" ng-show="noteCtrl.note.body">
  <b>{{noteCtrl.note.body}}</b>
  <footer class="blockquote-footer"> {{noteCtrl.note.trail}} <cite> {{noteCtrl.note.date | date: fullDate}}</cite> </footer> 
  </blockquote>

<div class="form-group" >
  <select ng-model="noteCtrl.note.trail" required class="form-control select select-primary">
  <option selected="selected" disabled="disabled">Please Select a Trail</option>
    <option value="Main Trail">Main Trail</option>
    <option value="East Trail">East Trail</option>
  </select>
</div><!--form group-->



   <div class="input-group" >
      <input class="form-control" type="text" autocomplete="off" ng-model="noteCtrl.note.body" required/>       
       <span class="input-group-btn"> 
       <button class="btn btn-default" value="submit" type="submit">Submit</button>
      </span>
    </div>
  
</form ><!--noteForm-->
 <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink"><span class="fui-time"></span></a>
                  <a class="btn btn-primary" href="#fakelink"><span class="fui-photo"></span></a>
                  <a class="btn btn-primary active" href="#fakelink"><span class="fui-heart"></span></a>
                  <a class="btn btn-primary" href="#fakelink"><span class="fui-eye"></span></a>
                </div>
              </div> <!-- /toolbar -->

</div><!--Panel Tab 3-->


<button class="btn btn-default" ng-hide="mountain.summited">Mark as Climbed</button>
</div>