<div class="periodic_title" style="background-color:{{panel.getColor(mountain)}}">
   	<div class="title_left">{{mountain.name}}</div>



    <div class="mtn_menu">
    	<a href ng-class="{ active:panel.isSelected(1)}" ng-click="panel.selectTab(1)">Weather</a>
    	<a href ng-class="{ active:panel.isSelected(2)}" ng-click="panel.selectTab(2)">Map</a>
    	<a href ng-class="{ active:panel.isSelected(3)}" ng-click="panel.selectTab(3)">Notes</a>
    </div>

</div>


<table class="table" ng-show="panel.isSelected(1)">
    
    <!--<tbody>
      <tr>
        <td>Temp: </td>
        <td>{{ mountain.weatherconditions.temp.cur }}</td>
      </tr>

      <tr>
        <td>Sunrise: </td>
        <td> {{mountain.weatherconditions.sunrise}}</td>
      </tr>

      <tr>
        <td>Sunset: </td>
        <td>{{mountain.weatherconditions.sunset}} </td>
      </tr>

       <tr>
        <td>Wind Speed: </td>
        <td>{{mountain.weatherconditions.wind.speed}}</td>
      </tr>

       <tr>
        <td>Humidity: </td>
        <td>{{mountain.weatherconditions.humidity}}</td>
      </tr>
    </tbody>-->

    
  </table>

  <div ng-show="panel.isSelected(3)" ng-include="'mtn-notes.html'"></div>