<div class="periodic_title" style="background-color:{{panel.getColor(mountain)}}">
   	<div class="title_left">{{mountain.name}}</div>



    <div class="mtn_menu">
    	<a href ng-class="{ active:panel.isSelected(1)}" ng-click="panel.selectTab(1)">Weather</a>
    	<a href ng-class="{ active:panel.isSelected(2)}" ng-click="panel.selectTab(2)">Map</a>
    	<a href ng-class="{ active:panel.isSelected(3)}" ng-click="panel.selectTab(3)">Notes</a>
    </div>

</div>
<div class="panel1" ng-show="panel.isSelected(1)">

<div class="panel1_left">
<i class="wi wi-night-snow-thunderstorm weather_main"></i>
<span class="weather_description"> {{ mountain.weatherconditions.description }}</span>

<i class="wi wi-thermometer"></i>
<div class="temps">
       <div class="current_temp"> {{ mountain.weatherconditions.temp.cur }}<i class="wi wi-fahrenheit"></i></div>
       <div class="other_temps">LOW: {{ mountain.weatherconditions.temp.min }} 
       		 / HIGH: {{ mountain.weatherconditions.temp.max }} </div>

</div>
</div><!--panel1 left-->
<table class="table mtn_weather_table" >

      <tr>
        <td><i class="wi wi-sunrise"></i></td>
        <td> {{mountain.weatherconditions.sunrise | date : 'h:mm:ss a'}}</td>
      </tr>

      <tr>
        <td><i class="wi wi-sunset"></i></td>
        <td>{{mountain.weatherconditions.sunset | date : 'h:mm:ss a' }} </td>
      </tr>

       <tr>
        <td><i class="wi wi-wind-beaufort-0"></i></td>
        <td>{{mountain.weatherconditions.wind.speed}} Mph</td>
      </tr>

       <tr>
        <td><i class="wi wi-humidity"></i></td>
        <td>{{mountain.weatherconditions.humidity}}%</td>
      </tr>
    </tbody>

    
  </table>
</div>
  <div ng-show="panel.isSelected(3)" ng-include="'mtn-notes.html'"></div>